# Dependencies
/target/
**/target/
/node_modules/
/.cargo/
/.venv/
/.next/

# Environment variables
.env
**/.env

# IDE and editor files
/.vscode/
/.idea/
/.codegpt/

# Build artifacts
*.o
*.so
*.dylib
*.dll
*.exe
*.lock
/coverage/

# Logs
*.log
/logs/

# Kubernetes secrets
/config/kubernetes/base/ngc-secret.yaml
/config/kubernetes/base/nim-secrets.yaml

# SQLx
/.sqlx/
